@charset "UTF-8";

* {
    /* height: 100%; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-image: linear-gradient(to right, #f1d8c9, #f2c1a7); 
}
main {
    background-color: #fff;
    width: 600px;
    padding: 10px 10px 10px 10px;
    margin: auto;
}
h1 {
    color: #f39209;
}
h2 {
    color: #125189;
}
p {
    text-align: justify;
}